<div class="generator" (window:resize)="onResize($event)">
  <div class="title">Phone Number Generator 1.0</div>
  <div class="playground">

    <div class="formContainer">
      <div class="generator-options">
        <div>
          <span class="sub-title">Generate Phone Numbers here!</span>
        </div>
        <div class="input-group">
          <label>How many numbers required?</label>
          <input id="limit" min="1" max="50" type="number" (input)='setLimit($event.target.value)' value={{limit}} />
          <div *ngIf="limit>50" class="error-block">
            <small class="error">Max number to generate is 50</small>
          </div>
        </div>
        <div class="input-group">
          <label>Sort by</label>
          <select id="sortDropDown" value={{sort}} (change)='setSort($event.target.value)'>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
        <div>
          <button class="generate" (click)="generate()" [disabled]="invalidLimit || loading">Generate</button>
        </div>
      </div>
      <div class="retrieve-options">
        <div>
          <span class="sub-title">List Generated Phone Numbers here!</span>
        </div>
        <div>
          <button class="retrieve" (click)="retrieve()" [disabled]="loading">List all</button>
        </div>
      </div>
    </div>
    <div class="resultContainer">
      <div class="record-option">
        <div class="record-item"><span>Maximum</span>{{max || "N\A"}}</div>
        <div class="record-item"><span>Minimum</span>{{min || "N\A"}}</div>
        <div class="record-item"><span>Total</span>{{size || "N\A"}}</div>
      </div>
      <div class="result-block">
        <div>
          <span class="sub-title">Result!</span>
        </div>
        <ul>
          <li *ngFor="let phone of phonenumbers">
            {{phone}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
